[Unit]
Description=Streaming

[Service]
ExecStart=/usr/local/bin/streaming
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
